[package]
name = "nostr"
version = "0.7.1"
edition = "2021"
description = "Rust implementation of the Nostr protocol."
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage = "https://github.com/yukibtc/nostr-rs-sdk"
repository = "https://github.com/yukibtc/nostr-rs-sdk.git"
license = "MIT"
readme = "README.md"
rust-version = "1.64"
keywords = ["nostr", "protocol", "sdk", "rust"]

[features]
default = []
nip06 = ["dep:bip39"]

[dependencies]
aes = "0.8"
anyhow = "1.0"
base64 = "0.13"
bip39 = { version = "1.0", optional = true }
bitcoin = { version = "0.29", features = ["rand", "serde"] }
cbc = { version = "0.1", features = ["alloc"] }
log = "0.4"
once_cell = "1"
regex = "1.7"
reqwest = { version = "0.11", default-features = false, features = ["blocking", "json", "rustls-tls-webpki-roots", "socks"]}
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_repr = "0.1"
url = "2"

[dev-dependencies]
csv = "1.1.5"
env_logger = "0.8.2"
tungstenite = { version = "0.17", features = ["rustls-tls-webpki-roots"]}

[[example]]
name = "nip06"
required-features = ["nip06"]
