[package]
name = "nostr"
version = "0.24.0"
edition = "2021"
description = "Rust implementation of the Nostr protocol."
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "protocol", "no_std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["std", "all-nips"]
std = [
    "dep:once_cell",
    "cbc?/std",
    "base64?/std", 
    "bitcoin/std", 
    "bitcoin/rand-std", 
    "bip39?/std", 
    "chacha20?/std", 
    "serde/std", 
    "serde_json/std", 
    "tracing/std", 
    "url-fork/std",
]
alloc = [
    "cbc?/alloc",
    "base64?/alloc",
    "bitcoin/no-std",
    "serde/alloc", 
    "serde_json/alloc",
]
blocking = ["reqwest?/blocking"]
all-nips = ["nip04", "nip05", "nip06", "nip11", "nip46", "nip47"]
nip03 = ["dep:nostr-ots"]
nip04 = ["dep:aes", "dep:base64", "dep:cbc"]
nip05 = ["dep:reqwest"]
nip06 = ["dep:bip39"]
nip11 = ["dep:reqwest"]
nip44 = ["dep:base64", "dep:chacha20"]
nip46 = ["nip04"]
nip47 = ["nip04"]

[dependencies]
aes = { version = "0.8", optional = true }
base64 = { version = "0.21", default-features = false, optional = true }
bip39 = { version = "2.0", default-features = false, optional = true }
bitcoin = { version = "0.30", default-features = false, features = ["rand", "serde"] }
cbc = { version = "0.1", optional = true }
chacha20 = { version = "0.9", optional = true }
nostr-ots = { version = "0.2", optional = true }
once_cell = { workspace = true, optional = true }
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls-webpki-roots", "socks"], optional = true }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = { version = "1.0", default-features = false }
tracing = { workspace = true }
url-fork = { workspace = true, features = ["serde"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }
instant = { version = "0.1", features = [ "wasm-bindgen", "inaccurate" ] }

[dev-dependencies]
csv = "1.1.5"
num_cpus = "1.15.0"
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[[example]]
name = "keys"
required-features = ["std"]

[[example]]
name = "metadata"
required-features = ["std"]

[[example]]
name = "nip04"
required-features = ["std", "nip04"]

[[example]]
name = "nip05"
required-features = ["std", "nip05", "blocking"]

[[example]]
name = "nip06"
required-features = ["std", "nip06"]

[[example]]
name = "nip09"
required-features = ["std"]

[[example]]
name = "nip11"
required-features = ["std", "nip11", "blocking"]

[[example]]
name = "nip13"
required-features = ["std"]

[[example]]
name = "nip19"
required-features = ["std"]

[[example]]
name = "vanity"
required-features = ["std"]
