[package]
name = "nostr-ffi"
version = "0.1.0"
edition = "2021"
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage.workspace = true
repository.workspace = true
license.workspace = true
rust-version.workspace = true
keywords = ["nostr", "rust", "ffi"]

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
nostr  = { path = "../../crates/nostr" }
uniffi = "0.22.0"
uniffi_macros = "0.22.0"

[build-dependencies]
uniffi_build = { version = "0.22.0", features = ["builtin-bindgen"] }
