[package]
name = "nostr-sdk"
version = "0.43.0"
edition = "2021"
description = "High level Nostr client library."
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "sdk"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
tor = ["nostr-relay-pool/tor"]
pow-multi-thread = ["nostr/pow-multi-thread"]
all-nips = ["nostr/all-nips", "nip04", "nip06", "nip44", "nip47", "nip49", "nip57", "nip59", "nip96", "nip98"]
nip03 = ["nostr/nip03"]
nip04 = ["nostr/nip04"]
nip06 = ["nostr/nip06"]
nip44 = ["nostr/nip44"]
nip47 = ["nostr/nip47"]
nip49 = ["nostr/nip49"]
nip57 = ["nostr/nip57"]
nip59 = ["nostr/nip59"]
nip96 = ["nostr/nip96"]
nip98 = ["nostr/nip98"]

[dependencies]
async-utility.workspace = true
nostr = { workspace = true, features = ["std"] }
nostr-database.workspace = true
nostr-relay-pool.workspace = true
tokio = { workspace = true, features = ["sync"] }

[dev-dependencies]
nostr-connect.workspace = true
nostr-lmdb.workspace = true
nostr-ndb.workspace = true
tokio = { workspace = true, features = ["macros"] }
tracing = { workspace = true, features = ["std"] }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[[example]]
name = "aggregated-query"

[[example]]
name = "blacklist"

[[example]]
name = "client"

[[example]]
name = "comment"

[[example]]
name = "fetch-events"

[[example]]
name = "gossip"
required-features = ["all-nips"]

[[example]]
name = "monitor"

[[example]]
name = "nostr-connect"
required-features = ["nip59"]

[[example]]
name = "bot"
required-features = ["all-nips"]

[[example]]
name = "nostrdb"

[[example]]
name = "stream-events"

[[example]]
name = "subscriptions"

[[example]]
name = "switch-account"

[[example]]
name = "tor"
required-features = ["nip59", "tor"]

[[example]]
name = "lmdb"

[[example]]
name = "whitelist"
