[package]
name = "nostr-sdk"
version = "0.19.1"
edition = "2021"
description = "High level Nostr client library."
authors = ["Yuki Kishimoto <yukikishimoto@proton.me>"]
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "sdk", "rust"]

[features]
default = ["all-nips"]
sqlite = ["dep:nostr-sdk-sqlite"]
blocking = ["nostr/blocking"]
vanity = ["nostr/vanity"]
all-nips = ["nip04", "nip05", "nip06", "nip11", "nip19", "nip46"]
nip03 = ["nostr/nip03"]
nip04 = ["nostr/nip04"]
nip05 = ["nostr/nip05"]
nip06 = ["nostr/nip06"]
nip11 = ["nostr/nip11"]
nip19 = ["nostr/nip19"]
nip46 = ["nostr/nip46"]

[dependencies]
futures-util = "0.3"
log = "0.4"
nostr = { version = "0.19", path = "../nostr", default-features = false }
nostr-sdk-sqlite = { version = "0.19", path = "../nostr-sdk-sqlite", optional = true }
once_cell = "1"
thiserror = "1.0"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.26", default-features = false, features = ["rt-multi-thread", "time", "macros", "sync"] }
tokio-rustls = "0.23"
tokio-socks = "0.5"
tokio-tungstenite = { version = "0.18", features = ["rustls-tls-webpki-roots"] }
webpki-roots = "0.22"

[target.'cfg(target_arch = "wasm32")'.dependencies]
ewebsock = { version = "0.2", features = ["tls"] }
futures = { version = "0.3", features = ["executor"] }
tokio = { version = "1.26", default-features = false, features = ["rt", "time", "macros", "sync"] }
wasm_thread = "0.2"

[dev-dependencies]
env_logger = "0.10"
serde_json = "1.0"

[[example]]
name = "client"
required-features = ["all-nips"]

[[example]]
name = "client_with_opts"
required-features = ["all-nips"]

[[example]]
name = "sqlite"
required-features = ["all-nips", "sqlite"]

[[example]]
name = "blocking"
required-features = ["all-nips", "blocking"]

[[example]]
name = "nostr_connect"
required-features = ["nip46"]