[package]
name = "nostr-sdk-js"
version = "0.1.0"
edition = "2021"
authors = ["Yuki Kishimoto <yukikishimoto@protonmail.com>"]
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
js-sys = "0.3"
nostr-js = { path = "../nostr-js" }
nostr-sdk = { path = "../../crates/nostr-sdk" }
serde-wasm-bindgen = "0.5"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
wasm-logger = "0.2"

[package.metadata.wasm-pack.profile.profiling]
wasm-opt = false

[package.metadata.wasm-pack.profile.profiling.wasm-bindgen]
debug-js-glue = false
demangle-name-section = true
dwarf-debug-info = true
