[package]
name = "nostr-relay-pool"
version = "0.31.0"
edition = "2021"
description = "Nostr Relay Pool"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "relay", "pool"]

[features]
default = []
nip11 = ["nostr/nip11"]

[dependencies]
async-utility.workspace = true
async-wsocket = "0.5"
atomic-destructor = { workspace = true, features = ["tracing"] }
nostr = { workspace = true, features = ["std"] }
nostr-database.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["macros", "sync"] }
tracing = { workspace = true, features = ["std", "attributes"] }

[dev-dependencies]
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[[example]]
name = "pool"
