[package]
name = "nwc"
version = "0.42.0"
edition = "2021"
description = "Nostr Wallet Connect"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "zapper", "nwc"]

[features]
default = []
tor = ["nostr-relay-pool/tor"]

[dependencies]
async-utility.workspace = true
nostr = { workspace = true, features = ["std", "nip47"] }
nostr-relay-pool.workspace = true
tracing = { workspace = true, features = ["std"] }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal"] }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"] }
