[package]
name = "nwc"
version = "0.44.0"
edition = "2021"
description = "Nostr Wallet Connect client"
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme = "README.md"
rust-version.workspace = true
keywords = ["nostr", "nwc"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = []
# Enables the tor embedded client
tor = ["nostr-sdk/tor"]

[dependencies]
nostr = { workspace = true, features = ["std", "nip47"] }
nostr-sdk.workspace = true
tracing = { workspace = true, features = ["std"] }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal"] }
tracing-subscriber = { workspace = true, features = ["env-filter", "fmt"] }
